<%= decidim_form_for(@form, html: { class: "form edit_omniauth_settings" }, url: decidim_omniauth_extras.omniauth_settings_path, method: :put) do |f| %>

  <div class="card">
    <div class="card-divider">
      <h2 class="card-title"><%= t ".title" %></h2>
    </div>
  </div>
  <%= f.fields_for :omniauth_settings do %>
    <% Decidim::User.omniauth_providers.select{ |provider| Rails.application.secrets.dig(:omniauth, provider.to_sym, :enabled) }.each do |provider| %>
      <%= f.fields_for provider.to_sym do %>
        <%= render partial: "provider", locals: { f: f, provider: provider} %>
      <% end %>
    <% end %>
  <% end %>

  <div class="button--double form-general-submit">
    <%= f.submit t(".update") %>
  </div>
<% end %>

<pre>
  <%= @form.omniauth_settings %>
</pre>
